.banner {
    display: flex;
    background-color: #18232C;
    background-position: center;
    background-size: cover;
}

.left {
    display: flex;
    /* This is optional if you want the left items to also be in a flex context */
}

.right {
    display: flex;
    margin-left: auto;
    /* This will push the right element to the end of the container */
}

.boxedelement {
    padding: 10px;
    border: 1px solid #d08159;
    margin: 10px;
}

.centertext {
    text-align: center;
    margin: 5px;
}

.gridelement {
    margin: 10px;
}

.flexbox {
    display: flex;
}

.two-thirds {
    width: 66.66%;
}

.one-third {
    width: 33.33%;
}


/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #d08159;
    --primary-hover: #ffaa5e;
    --primary-focus: rgba(142, 36, 170, 0.125);
    --primary-inverse: #FFF;
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #d08159;
        --primary-hover: #ffaa5e;
        --primary-focus: rgba(142, 36, 170, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #d08159;
    --primary-hover: #ffaa5e;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #FFF;
}

/* Purple (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}