:root {
    --slso8-1: #0d2b45;
    --slso8-2: #203c56;
    --slso8-3: #544e68;
    --slso8-4: #8d697a;
    --slso8-5: #d08159;
    --slso8-6: #ffaa5e;
    --slso8-7: #ffd4a3;
    --slso8-8: #ffecd6;

    --cl8uds-1: #a5b7d4;
    --cl8uds-2: #9aabc9;
    --cl8uds-3: #8fa0bf;
    --cl8uds-4: #a597a1;
    --cl8uds-5: #b48d92;
    --cl8uds-6: #d6938a;
    --cl8uds-7: #ef9d7f;
    --cl8uds-8: #fcb08c;

    --color-1: #0d2b45;
    --color-2: #203c56;
    --color-3: #544e68;
    --color-4: #8d697a;
    --color-5: #d08159;
    --color-6: #ffaa5e;
    --color-7: #ffd4a3;
    --color-8: #ffecd6;
}

/* Dark color scheme (Forced) */
[data-theme="dark"] {
    /* Texts colors */
    --pico-color: var(--color-8);
    --pico-h1-color: var(--color-7);
    --pico-h2-color: var(--color-7);
    --pico-h3-color: var(--color-7);
    --pico-h4-color: var(--color-7);
    --pico-h5-color: var(--color-7);
    --pico-h6-color: var(--color-7);

    /* Muted colors */
    --pico-muted-color: var(--color-4);
    --pico-muted-border-color: var(--color-4);

    /* Primary colors */
    --pico-primary: var(--color-5);
    --pico-primary-background: var(--color-5);
    --pico-primary-hover: var(--color-6);
    --pico-primary-hover-background: var(--color-6);
    --pico-primary-focus: var(--color-8);
    --pico-primary-inverse: var(--color-8);

    /* Secondary colors */
    --pico-secondary: var(--color-3);
    --pico-secondary-background: var(--color-3);
    --pico-secondary-hover: var(--color-4);
    --pico-secondary-hover-background: var(--color-4);
    --pico-secondary-focus: var(--color-8);
    --pico-secondary-inverse: var(--color-7);
}

.header-footer {
    background-color: #2d2a38;
    /* background-color: var(--color3) */
}

html {
    scroll-behavior: smooth;
}

.show-desktop {
    display: block;
    /* Visible by default */
}

.show-mobile {
    display: none;
    /* Hidden by default */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .show-desktop {
        display: none;
        /* Hide on small screens */
    }

    .show-mobile {
        display: block;
        /* Show the button on small screens */
    }
}

.boxedelement {
    padding: 10px;
    border: 1px solid var(--pico-primary-hover);
    border-radius: 3px;
    margin: 10px;
}

.boxed {
    background-color: var(--pico-secondary);
    border: 3px solid var(--pico-secondary-hover);
    border-radius: 3px;
    padding-top: 35%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35%;
    font-weight: 300;
    font-size: 1em;
}

.icon {
    height: 24px;
    object-fit: contain;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.two-thirds {
    padding: 0% 1%;
    width: 66.66%;
}

.one-third {
    padding: 0% 1%;
    width: 33.33%;
}

/* styles for mobile devices */
@media (max-width: 767px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }

    .two-thirds {
        padding: 1% 0%;
        width: 100%;
    }

    .one-third {
        padding: 1% 0%;
        width: 100%;
    }
}

.grid-container-auto {
    display: grid;
    grid-gap: 20px;

    /* Define the default number of columns */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
}

.grid-container-big {
    display: grid;
    grid-gap: 20px;

    /* Define the default number of columns */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-container-small {
    display: grid;
    grid-gap: 20px;

    /* Define the default number of columns */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
    padding: 20px;
}

/* Extra Large Screens (e.g., desktops) */
@media (min-width: 1200px) {
    .grid-container-big {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-small {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Large Screens (e.g., desktops and laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .grid-container-big {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-small {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Medium Screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .grid-container-big {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-small {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Small Screens (e.g., large phones) */
@media (min-width: 576px) and (max-width: 767px) {
    .grid-container-big {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-container-small {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        padding: 10px;
    }
}

/* Extra Small Screens (e.g., small phones) */
@media (max-width: 575px) {
    .grid-container-big {
        grid-template-columns: 1fr;
    }

    .grid-container-small {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        padding: 5px;
    }
}


.line {
    display: flex;
    align-items: center;
}

.label {
    flex: 0 0 120px;
    /* This sets a fixed width for the labels. You can adjust it according to your needs. */
    text-align: left;
    margin-right: 5px;
    /* space between the label and the colon */
}

.value {
    margin-left: 5px;
    /* space between the colon and the value */
}

.center-cropped {
    border: 2px solid var(--pico-h1-color);
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.center-cropped.frame {
    border: 5px ridge var(--pico-h1-color);
}

.center-cropped.noborder {
    border: 0px;
}