:root {
    --slso8-1: #0d2b45;
    --slso8-2: #203c56;
    --slso8-3: #544e68;
    --slso8-4: #8d697a;
    --slso8-5: #d08159;
    --slso8-6: #ffaa5e;
    --slso8-7: #ffd4a3;
    --slso8-8: #ffecd6;
}

html {
    scroll-behavior: smooth;
}

.flex

.left {
    display: flex;
    /* This is optional if you want the left items to also be in a flex context */
}

.right {
    display: flex;
    margin-left: auto;
    /* This will push the right element to the end of the container */
}

.boxedelement {
    padding: 10px;
    border: 1px solid var(--slso8-6);
    margin: 10px;
}

.boxed {
    background-color: var(--slso8-3);
    border: 3px solid var(--slso8-3);
    border-radius: 3px;   
    padding-top: 25%;
    padding-bottom:25%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight:300;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.gridelement {
    margin: 10px;
}

/* styles for desktop devices */
@media only screen and (min-width: 992px) {
    .flexbox {
        display: flex;
        flex-direction: row;
    }

    .two-thirds {
        width: 66.66%;
    }

    .one-third {
        width: 33.33%;
    }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }
    
    .two-thirds {
        padding-top: 5%;
        padding-bottom: 5%;
        height: 60%;
    }

    .one-third {
        height: 60%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.line {
    display: flex;
    align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.label {
    flex: 0 0 100px;
    /* This sets a fixed width for the labels. You can adjust it according to your needs. */
    text-align: left;
    margin-right: 5px;
    /* space between the label and the colon */
}

.value {
    margin-left: 5px;
    /* space between the colon and the value */
}


.center-cropped {
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    border: 5px solid var(--slso8-7);
    height: 90%;
    width: auto;
}

.center-cropped-noborder {
    object-fit: cover;
    object-position: center;
    height: 90%;
    width: auto;
}

/* SLS08 scheme (Forced) */
[data-theme="dark"] {
    /* --background-color: var(--slso8-2); */

    /* Texts colors */
    --color: var(--slso8-8);
    --h1-color: var(--slso8-7);
    --h2-color: var(--slso8-7);
    --h3-color: var(--slso8-7);
    --h4-color: var(--slso8-7);
    --h5-color: var(--slso8-7);
    --h6-color: var(--slso8-7);

    /* Muted colors */
    --muted-color: var(--slso8-4);
    --muted-border-color: var(--slso8-4);

    /* Primary colors */
    --primary: var(--slso8-5);
    --primary-hover: var(--slso8-6);
    --primary-focus: var(--slso8-8);
    --primary-inverse: var(--slso8-8);

    /* Secondary colors */
    --secondary: var(--slso8-3);
    --secondary-hover: var(--slso8-4);
    --secondary-focus: var(--slso8-8);
    --secondary-inverse: var(--slso8-7);

    /* Contrast colors */
    /* --contrast: #{$grey-50};
    --contrast-hover: #{$white};
    --contrast-focus: #{rgba($grey-500, 0.25)};
    --contrast-inverse: #{$black}; */

    /* Highlighted text (<mark>) */
    /* --mark-background-color: #{mix($grey-300, $amber-300)};
    --mark-color: #{mix($black, $grey-900, 37.5%)}; */
}